body {
    background-color: rgb(245, 237, 214);
    font-family: 'IM Fell English SC', serif;
}

#title {
    font-size: 3rem;
    text-align: center;
    margin: 25px 0px;
}

.selections {
    display: flex;
    justify-content: center;
    padding: 5px;

}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 250ms;
    margin: 0% 3%;
}

.selection:hover {
    transform: scale(1.5);
}

.results {
    margin: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}

.results-score {
    margin-left: .1rem;
}

.result-selection {
    opacity: .5;
    font-size: 3rem;
}

.result-selection.winner {
    opacity: 1;
    font-size: 4rem;
}

#description {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 25px 0px;
    text-align: center;
}
